@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.message {
  max-width: 80%;
}
.message p {
  margin-top: 10px;
}
.message ol,
.message ul {
  list-style-type: decimal;
  margin: 10px 0;
  padding-left: 25px;
}

.message ul {
  list-style-type: disc;
}

