@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer utilities {
  .custom-scrollbar {
    scrollbar-width: auto;
    scrollbar-color: #4f5d74 #232930;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 10px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 5px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #3B82F6;
    border-radius: 4px;
    border: 2px solid #EFF6FF;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #2563EB;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.message {
  max-width: 80%;
}
.message p {
  margin-top: 10px;
}
.message ol,
.message ul {
  list-style-type: decimal;
  margin: 10px 0;
  padding-left: 25px;
}

.message ul {
  list-style-type: disc;
}

.message li {
  margin-bottom: 8px;
}

